@using EMPPortal.Filters;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div class="container-fluid main">

    <div class="row">
        <div class="col-md-3 padding-left-25 sidebar">
            <h2>Forgot Password</h2>
            <p><a href="~/CustomerLogin/Index" class="cst-link">Back to Login</a></p>
        </div>

        <div class="col-md-9 padding-right-25">
            <div class="row">
                <div class="col-md-12">

                    @if (TempData["error"] != null)
                    {
                        if (ViewBag.Status == -1)
                        {
                            <div class="alert alert-danger" id="error">Your EMP UserId could not be found.</div>
                        }
                        else
                        {
                            <div class="alert alert-danger" id="error">@TempData["error"]</div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger" style="display:none;" id="error"></div>
                    }

                    @if (TempData["success"] != null)
                    {
                        if (ViewBag.Status == 0)
                        {
                            <div class="alert alert-success" id="success">Your Password is your Transmission Password. If you do not know your Transmission Password, or need further assistance, please contact Customer Support.</div>
                        }
                        else
                        {
                            <div class="alert alert-success" id="success">@TempData["success"]</div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-success" style="display:none;" id="success"></div>
                    }
                </div>
            </div>

            <div class="login-pg cst-login">
                <div class="intro">
                    uTax offers bank enrollment services which requires your sub-sites to complete their bank enrollment on an unbranded web
                    portal. Please note that uTax will contact each of your sub-sites directly to assist them in completing the bank enrollment
                    application.

                </div>
                @*<div class="form-logo">
                        <img src="@Url.Content("~/Content/images/logo.png")">
                    </div>*@

                @using (Html.BeginForm("Password", "ForgotAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="select-blk">

                                <div class="form-group is-empty">
                                    <label class="col-md-2 control-label" for="i5">User Id</label>
                                    <div class="col-md-8">
                                        <input type="text" id="UserId" name="UserId" class="form-control" maxlength="50" value="@ViewBag.UserId">

                                    </div>
                                    <div class="col-md-2">
                                        <input class="btn btn-default btn-raised btn-info " type="submit" name="Index" id="btnSubmit" style="margin-top:0;"
                                               value="Validate" />
                                    </div>
                                </div>
                            </div>

                            @if (ViewBag.Status == 1)
                            {
                                <div id="divSecurity">
                                    <div class="select-blk">
                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label padding-top-10" for="i5">Security Question 1</label>
                                            <div class="col-md-10">
                                                <input type="hidden" id="Question1" value="@ViewBag.Question1" />
                                                <label>@ViewBag.QuestionText1</label>
                                            </div>
                                        </div>
                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label padding-top-10" for="i5">Answer</label>
                                            <div class="col-md-10">
                                                <input type="text" id="Answer1" class="form-control Answer" maxlength="150">
                                                <input type="hidden" id="status" value=@ViewBag.Status />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-blk">
                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label  padding-top-10" for="i5">Security Question 2</label>
                                            <div class="col-md-10">
                                                <input type="hidden" id="Question2" value="@ViewBag.Question2" />
                                                <label>@ViewBag.QuestionText2</label>
                                            </div>

                                        </div>

                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label padding-top-10" for="i5">Answer</label>
                                            <div class="col-md-10">
                                                <input type="text" id="Answer2" class="form-control Answer" maxlength="150">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-blk">
                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label padding-top-10" for="i5">Security Question 3</label>
                                            <div class="col-md-10">
                                                <input type="hidden" id="Question3" value="@ViewBag.Question3" />
                                                <label>@ViewBag.QuestionText3</label>
                                            </div>

                                        </div>

                                        <div class="form-group is-empty">
                                            <label class="col-md-2 control-label padding-top-10" for="i5">Answer</label>
                                            <div class="col-md-10">
                                                <input type="text" id="Answer3" class="form-control Answer" maxlength="150">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    if (ViewBag.Status == 1)
                    {
                        <div class="col-md-0 lgn">
                            <input class="btn btn-default btn-raised btn-info " type="button" name="Index" id="btnSubmit"
                                   value="Submit" onclick="fnForgotPassword();" />
                            @*<input class="btn btn-default btn-raised btn-info " type="button" name="Index" id="btnSubmit"
                                value="Cancel" onclick="fnCancel();" />*@
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

@section scripts {
    @*<script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/app/ForgotAccount.js"></script>*@
@Html.IncludeVersionedJs("/Scripts/app/common.js")
@Html.IncludeVersionedJs("/Scripts/app/ForgotAccount.js")
}
<script type="text/javascript">

    $(document).ready(function () {

    });

</script>
