@using EMPPortal.Filters;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

@using (Html.BeginForm("InitialPassword", "ChangePassword", FormMethod.Post, new { id = "frmChangePassword", @class = "form-horizontal", role = "form" }))
{
<div class="row">
    <div class="col-md-3 padding-left-25 sidebar">
        <h2>Change Password</h2>
        @*<p>Forgot UserID</p>*@
        <p class="phone-support">Contact uTax Partner Support at <span>206-209-2653</span></p>
        <input type="hidden" id="UserId" value="@Session["UserId"].ToString()" />
    </div>

    <div class="col-md-9 padding-right-25">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger" id="error">@TempData["error"]</div>
                }
                else
                {
                    <div class="alert alert-danger" style="display:none;" id="error"></div>
                }
                <div class="alert alert-success" style="display:none;" id="success"></div>
            </div>
        </div>

        <div class="login-pg">
            @*<div class="intro">
                uTax offers bank enrollment services which requires your sub-sites to complete their bank enrollment on an unbranded web
                portal. Please note that uTax will contact each of your sub-sites directly to assist them in completing the bank enrollment
                application.

            </div>*@
           
            @*<div class="form-logo">
                    <img src="@Url.Content("~/Content/images/logo.png")">
                </div>*@
            <form class="clearfix">
                <h2 class="page-title">Change Password</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="intro"><b>Password Policy:</b>
                            In an effort to better protect your data, uTax is increasing our website security. All passwords must now be a minimum of 8 characters in length and contain at least 3 of 4 of the following: upper case letters, lower case letters, numbers, and special characters. The password will be case sensitive. Be sure to choose a password that you can easily remember but something that cannot be easily guessed by others.   You will also be prompted to answer “password reset” questions that will be used to assist you in resetting a forgotten password, if needed.
                            <br /><br /> Tip: Your new 'case-sensitive' password needs the following characteristics:
                            <ul>
                                <li>Be at least 8 characters</li>
                                <li>Have 3 of the following 4 attributes</li>
                                <ul>
                                    <li>Upper case letter</li>
                                    <li>Lower case leeter</li>
                                    <li>Number</li>
                                    <li>Special Character</li>
                                </ul>
                            </ul>
                         </div>
                        <div class="form-group">
                            <label for="NewPassword" class="col-md-3 control-label">New Password</label>

                            <div class="col-md-9">
                                <input class="form-control" id="NewPassword" name="NewPassword" type="password">
                                <input type="hidden"  id="Id" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NewConfirmPassword" class="col-md-3 control-label">Confirm Password</label>

                            <div class="col-md-9">
                                <input class="form-control" id="NewConfirmPassword" name="NewConfirmPassword"  type="password">
                            </div>
                        </div>

                      

                    </div>
                </div>

                <div class="col-md-0 lgn">
                    <input class="btn btn-default btn-raised btn-info " type="submit" name="Index" id="btnSubmit" value="Update Password" />
                    <a class="btn btn-back" onclick="SkipPassword()">Skip</a>
                </div>

            </form>

        </div>
    </div>
</div>
}
@section scripts {
 @*<script src="~/Scripts/app/common.js"></script>
<script src="~/Scripts/app/ChangePassword.js"></script>*@
@Html.IncludeVersionedJs("/Scripts/app/common.js")
@Html.IncludeVersionedJs("/Scripts/app/ChangePassword.js")
}


<script type="text/javascript">

    $(function () {

        $('#frmChangePassword').submit(function () {

            var cansubmit = true;

            var error = $('#error');
            $('#error').html('');

            var NewPassword = $.trim($('#NewPassword').val());
            var NewConformPassword = $.trim($('#NewConfirmPassword').val());

            var str1 = $.trim(NewPassword.toUpperCase());
            var str2 = $.trim(NewConformPassword.toUpperCase());

            $('#NewPassword').removeClass("error_msg");
            if (NewPassword == '') {
                $('#NewPassword').attr('title', 'Please Enter New Password');
                $('#NewPassword').addClass("error_msg");
             //   error.append('<p> Please Enter New Password </p>');
                cansubmit = false;
            }
            $('#NewPassword').removeClass("error_msg");
            $('#NewPassword').attr('title', '');
            $('#NewConfirmPassword').removeClass("error_msg");
            if (NewPassword != '') {
                if (str1 != str2) {
                    $('#NewConfirmPassword').attr('title', 'New Password and Confirm Password are not matching');
                    $('#NewConfirmPassword').addClass("error_msg");
                    //error.append('<p> New password and Confirm password are not matching </p>');
                    cansubmit = false;
                }
            }
            var ichkpwd = CheckPassword($('#NewPassword').val());
            if (ichkpwd == false) {
                $('#NewPassword').attr('title', 'Please note that the password does not match the specified criteria. \n Please ensure that it contains at least 3 out of the following conditions and has a minimum length of 8 characters:\n a. Uppercase Characters \n b. Lowercase Characters \n c. Numeric Characters \n d. Special Characters');
                $('#NewPassword').addClass("error_msg");
                cansubmit = false;
            }
            if (cansubmit) {
                return true;

            } else {
                error.append('<p> Please provide the correct data. </p>');
                error.show();
                return false;
            }

        });

    });


    function CheckPassword(inputtxt) {
        var incnt = 0;
        var passnum = /^(?=.*\d)/;  ///^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        if (inputtxt.match(passnum)) {
            incnt += 1;
        }
        var passupper = /^(?=.*[A-Z])/;
        if (inputtxt.match(passupper)) {
            incnt += 1;
        }
        var passlower = /^(?=.*[a-z])/;
        if (inputtxt.match(passlower)) {
            incnt += 1;
        }
        var passspec = /^(?=.*[^a-zA-Z0-9])/;
        if (inputtxt.match(passspec) == false) {
            incnt += 1;
        }
        if (inputtxt.length >= 8 && inputtxt.length <= 15) {
            if (incnt >= 3)
            { return true; }
            else {
                return false;
            }
        }
        else {
            return false;
        }
    }
    //function CheckPassword(inputtxt) {
    //    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
    //    if (inputtxt.match(passw)) {
    //        //alert('Correct, try another...');
    //        return true;
    //    }
    //    else {
    //        //alert('Wrong...!');
    //        return false;
    //    }
    //}

</script>