@model uTax.EntityFramework.Edmx.RolePermissionMap

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RolePermissionMap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusCodeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCodeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissionMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionMaster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleMaster.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
