@using EMPPortal.Filters;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div class="row">
    <div class="col-md-3 padding-left-25 sidebar">
        <h2>Update Security Questions</h2>
        @*<p>Forgot UserID</p>*@
        <p class="phone-support">Contact uTax Partner Support at <span>206-209-2653</span></p>
        <input type="hidden" id="UserId" value="@Session["UserId"].ToString()" />
    </div>

    <div class="col-md-9 padding-right-25">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger" id="error">@TempData["error"]</div>
                }
                else
                {
                    <div class="alert alert-danger" style="display:none;" id="error"></div>
                }
                <div class="alert alert-success" style="display:none;" id="success"></div>
            </div>
        </div>

        <div class="login-pg">

            @*<div class="form-logo">
                    <img src="@Url.Content("~/Content/images/logo.png")">
                </div>*@
            <form class="clearfix">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="select-blk">
                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Security Question 1</label>
                                <div class="col-md-10">
                                    <select id="QuestionId1" name="QuestionId" class="form-control Question" onchange="fnQuestionSelected(this);"></select> @*onchange="return getGroupRoleMap(this);"*@
                                </div>

                            </div>

                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Answer</label>
                                <div class="col-md-10">
                                    <input type="text" id="Answer1" class="form-control Answer" maxlength="100">
                                    <input type="hidden" id="Id" />
                                    <input type="hidden" id="status" value=@ViewBag.status />
                                </div>
                            </div>
                        </div>

                        <div class="select-blk">
                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Security Question 2</label>
                                <div class="col-md-10"> 
                                    <select id="QuestionId2" name="QuestionId" class="form-control Question" onchange="fnQuestionSelected(this);"></select> @*onchange="return getGroupRoleMap(this);"*@
                                </div>

                            </div>

                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Answer</label>
                                <div class="col-md-10">
                                    <input type="text" id="Answer2" class="form-control Answer" maxlength="100">
                                </div>
                            </div>
                        </div>

                        <div class="select-blk">
                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Security Question 3</label>
                                <div class="col-md-10">
                                    <select id="QuestionId3" name="QuestionId" class="form-control Question" onchange="fnQuestionSelected(this);"></select> @*onchange="return getGroupRoleMap(this);"*@
                                </div>

                            </div>

                            <div class="form-group is-empty">
                                <label class="col-md-2 control-label" for="i5">Answer</label>
                                <div class="col-md-10">
                                    <input type="text" id="Answer3" class="form-control Answer" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-0 lgn">
                    <input class="btn btn-default btn-raised btn-info " type="button" name="Index" id="btnSubmit"
                           value="Save" onclick="fnSaveSecurityAnswer();"/>

                </div>

            </form>

        </div>
    </div>
</div>


@section scripts {
@*<script src="~/Scripts/app/common.js"></script>
<script src="~/Scripts/app/SecurityAnswer.js"></script>*@
@Html.IncludeVersionedJs("/Scripts/app/common.js")
@Html.IncludeVersionedJs("/Scripts/app/SecurityAnswer.js")
}
<script type="text/javascript">

    $(document).ready(function () {
        getQuestionMaster($('#QuestionId1'), $('#QuestionId2'), $('#QuestionId3'));
    });


</script>